/* this is about the createpodcastform */
#bannerImageInput{
    margin: 10px;
    color: red;
    }

    .custominput{
        color: #eee3e3;
        background: rgb(66, 55, 55);
        border: 2px solid greenyellow;
        padding: 0.8rem;
        border-radius: 16px;
        
        font-size: 20px;
        font-weight: 400; 
      
       
    } 

    .custombtn{
        color: #eee3e3;
        background: rgb(66, 55, 55);
        border: 2px solid greenyellow;
        padding: 0.8rem;
        border-radius: 16px;
        width: 96%;
        margin: 10px;
        font-size: 20px;
        font-weight: 400; 
        text-align: center;
    }
    
    .custombtn:hover{
        color: white;
        transition: all 0.4sec;
        background: #6c5e5e; 
       
    }
   